<h1> A Node View</h1>
<<<<<<< HEAD
<!--{{message}}-->
<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
=======
{{message}}
<form action="/message" method="post">
    <input type="text" name="messageBody">
>>>>>>> c9ff7d6 (Adicionado Mongo, Register/login.css)
    <button type="submit">Enviar</button>
</form>