<h1> A Node View</h1>

<!--{{message}}-->
<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">

{{message}}
<form action="/message" method="post">
    <input type="text" name="messageBody">

    <button type="submit">Enviar</button>
</form>